{# src/OC/PlatformBundle/Resources/views/Default/add.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}

    <a href="{{ path('oc_platform_homepage') }}" class="btn btn-primary">Revenir à la liste</a>

    <h3>Ajouter un article</h3>

    {{ form(form) }}

{% endblock %}