<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>API Symfony 3</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('public/css/index.css') }}">
    </head>
    <body class="container">
        <h2>Api Symfony 3</h2>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
